<ion-view>
	<ion-nav-title>Estamos quase Lá</ion-nav-title>
	
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<h2>Veiculo : {{carroFinalizado.nome}}</h2>
			    <h3>Preço Total : R{{carroFinalizado.preco | currency}}</h3>
			</div>
			<div class="item item-text-wrap">
				<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Nome Completo</span>
						<input type="text" placeholder="João da Silva" ng-model="pedido.nome">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Endereço</span>
						<input type="text" placeholder="Rua Suarua, 500, Suacidade" ng-model="pedido.endereco">
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">E-mail</span>
						<input type="text" placeholder="endereco@seudominio.com" ng-model="pedido.email">
					</label>
					
				</div>
			
			</div>
	
		</div>

		<a class="button button-positive button-full" ng-click="finalizarPedido()">Realizar um sonho</a>

	</ion-content>

</ion-view>